\#*#
*~
*.swp
.#*
nohup.out
config/gtk-2.0/gtkfilechooser.ini
config/.config/gtk-3.0/bookmarks
config/.config/gtk-2.0/gtkfilechooser.ini
config/.mutt/history
a.out
config/.scidvspc/log
config/.mutt/certs
config/.mpv/watch_later
config/applications/chrome-kbmfpngjjgdllneeigpgjifpgocmfgmb-Default.desktop
