[Unit]
Description=Caps Remapping on Console
After=sysinit.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash -c "(echo $(dumpkeys |grep -i keymap); echo keycode 58 = Control ) | loadkeys -"

[Install]
WantedBy=sysinit.target
