[Unit]
Description=User resume actions
After=suspend.target
Requires=network.target
After=network.target

[Service]
User=%I
Type=simple
ExecStart=/usr/bin/pkill -SIGUSR1 -u %u offlineimap

[Install]
WantedBy=suspend.target